AnyQt==0.0.13
baycomp==1.0.2
biopython @ file:///home/conda/feedstock_root/build_artifacts/biopython_1737241701628/work
CacheControl==0.12.10
cattrs==1.9.0
charset-normalizer==2.0.9
dictdiffer==0.9.0
fivetools==0.1
-e git+https://github.com/MuhammedHasan/gencode_utr_fix.git@e34e1cebf76c68f2c153fc79fe6cc4d7291f75b3#egg=gencode_utr_fix
Genesis-PyAPI==1.2.1
git-filter-repo==2.38.0
h11==0.12.0
httpcore==0.13.7
httpx==0.19.0
jeepney==0.7.1
Jinja2==3.1.6
keyring==23.5.0
keyrings.alt==4.1.0
lockfile==0.12.2
MarkupSafe==3.0.2
msgpack==1.0.3
narwhals==1.35.0
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1732314280888/work/dist/numpy-2.0.2-cp39-cp39-linux_x86_64.whl#sha256=62d98eb3da9f13e6b227c430d01026b7427f341b3fdcb838430f2a9e520417b1
openTSNE==0.6.1
Orange-Bioinformatics==2.6.25
orange-canvas-core==0.1.24
orange-widget-base==4.16.1
Orange3==3.31.0
packaging==24.2
pandas==2.2.3
plotly==6.0.1
pyfastx==2.2.0
pylru==1.2.1
pyqtgraph==0.12.3
python-dateutil==2.9.0.post0
python-louvain==0.15
pytrf==1.4.2
pytz==2025.2
qasync==0.22.0
qtconsole==5.2.2
QtPy==2.0.0
requests-cache==0.9.0
rfc3986==1.5.0
SecretStorage==3.3.1
serverfiles==0.3.1
six==1.17.0
slumber==0.7.1
tabulate==0.9.0
tqdm==4.67.1
types-tabulate==0.9.0.20241207
tzdata==2025.2
url-normalize==1.4.3
ViennaRNA==2.7.0
